@import "../../../styles/global";

a {
  text-decoration: none;
}
#main {
  padding: 20px 40px;
  table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      padding: 10px;
      border: 1px solid $button-color;
      text-align: left;
    }

    th {
      background-color: $primary-color;
      color: white;
    }
  }
}
