@use"../../../styles/global.scss" as*;

.restaurant-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.restaurant-card {
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        width: 800px;
        display: flex;
        margin: 10px;


        #card-pictureSection {
            display: inline-block;
            height: 300px;


            img {
                display: inline-block;
                width: 250px;
                height: 100%;
                // border-radius: 10px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }


        #card-mainSection {
            height: 90%;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;

            p {
                display: inline-block;
                width: 100%;
                margin: 5px;
            }

            #restaurantName {
                font-size: 22px;
            }

            #button-container {
                margin-top: 20px;
                display: flex;
                justify-content: flex-end;
                position: relative;


                .button {
                    width: 100px;
                    margin-bottom: 20px;
                    margin-left: 50px;
                }
            }
        }

    }

#addBtn-container {
    display: flex;
}

#addBtn {
    margin: 20px auto;
}

h1 {
    font-family: 'Segoe UI', sans-serif;
    font-size: 28px;
    color: #333;
    text-shadow: 2px 2px 4px lightgray;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
}

#hidden-button-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 100%;
    right: 0;
    background: $primary-color;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    min-width: 100px;
    z-index: 10;
}

#button-container #hidden-button-container #editBtn,
#button-container #hidden-button-container #deleteBtn {
    width: 100%;
    margin: 0;
    color: #333;
    background-color: $primary-color;
    cursor: pointer;

}

#button-container #hidden-button-container #editBtn {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#button-container #hidden-button-container #deleteBtn {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#button-container #hidden-button-container #deleteBtn:hover {
    background-color: $warn-color;
    color: white;
}

#button-container #hidden-button-container #editBtn:hover {
    background-color: gray;
    color: white;
}

#button-container #wheelBtn {
    background-color: $primary-color;
    color: #333;
    cursor: pointer;
}