@import '../../../styles/global.scss';

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: gray;
    border-radius: 20px;
    text-align: center;
    
}

#submitBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 40px;
    color: white;
    background-color: blue;
    border-radius: 10px;
    text-align: center;
}

#cancelBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 40px;
    color: white;
    background-color: blue;
    border-radius: 10px;
    text-align: center;
}