@use'../../../styles/global.scss' as *;

* {
  box-sizing: border-box;
}

h1,
h2 {

  font-family: 'Segoe UI', sans-serif;
  font-size: 28px;
  color: #333;
  text-shadow: 2px 2px 4px lightgray;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;

}

textarea {
  font-family: Arial, sans-serif;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
  resize: none;
  border: 2px solid black;
  border-color: #D9D9D9;

  &.error {
    border-color: #d9534f;
  }
}


.tab {
  display: none;
  flex-direction: column;
  gap: 10px;
  margin: 50px auto;
  width: auto;
}

form .tab:nth-child(2) {
  display: flex;
  flex-direction: row;
}

#meals-container {
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
}

#meals-table-container {
  width: 60%;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);

  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    padding: 10px;

    i {
      color: #DD5C5C;
    }
  }

  #table-scroll {
    border-radius: 10px;
    max-height: 400px;
    overflow-y: auto;
  }

  th,
  td {
    padding: 10px;
  }

  tr {
    font-size: 12px;
    background-color: #f8f8f8;
  }

  tbody {
    tr {
      border-bottom: 1px solid #ddd;

      &:nth-of-type(even) {
        background-color: rgb(209, 209, 209);
      }
    }
  }

  thead tr {
    position: sticky;
    top: 0;
    background-color: #D9D9D9;
    z-index: 2;
  }

  #meals td,
  th:nth-child(1) {
    word-break: break-word;
    width: 25%;
  }

  #meals td,
  th:nth-child(2) {
    width: 10%;
  }

  #meals td,
  th:nth-child(3) {
    word-break: break-word;
    width: 30%;
  }

  #meals td,
  th:nth-child(4) {
    word-break: break-word;
    width: 30%;
  }

  #meals td,
  th:nth-child(5) {
    word-break: break-word;
    width: 5%;
  }
}

#meal-tableBtn {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

#meal-saveBtn {
  display: flex;
  justify-content: center;
}

#meals {

  th:last-child,
  td:last-child {
    border-color: white;
  }
}

#meals th,
#meals td {
  .deleteBtn {
    padding: 6px;
    width: 5px;
    font-size: 14px;

    &:hover {
      transform: scale(1.30);
    }
  }

}

#meal-form-container {
  width: 25%;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;

  input {
    display: inline-block;
    width: 100%;
    border-color: #D9D9D9;
  }

  textarea {
    display: inline-block;
    width: 100%;
    height: 80px;
    resize: none;
  }
}

form #restaurant-from {
  display: flex;
  flex-direction: column;
  width: 450px;
  margin: 50px auto;
  background-color: white;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);

}

.tooltiptext {
  bottom: 130%;
  left: 90%;
  transform: translateX(-50%);
  width: 200px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 6px 6px;
  border-radius: 6px;
  position: absolute;
  z-index: 3;
  opacity: 0;
  transition: opacity 1.5s ease-in-out 0.5s;
}

.tooltip-wrapper {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  position: absolute;
  bottom: 130%;
  left: 50%;
  transform: translateX(-50%);
  width: 220px;
  background-color: black;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  white-space: normal;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip-wrapper:hover button:disabled + .tooltiptext {
  opacity: 1;
}

.button {
  display: flex;
  justify-content: space-between;
  align-content: center;

}

.step-container {
  width: 350px;
  display: flex;
  justify-content: space-between;
  margin: 2rem auto;
  position: relative;
}

.step-container::before {
  content: '';
  background-color: lightgray;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: 1;
}

.progress {
  background-color: $button-color;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: 1;
  transition: 0.4s ease-in;
}

.step {
  background-color: lightgray;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 1;
  transition: 0.4s ease;
}

.step.active {
  background-color: $button-color;
  color: white;
  transition-delay: 0.4s;
}