@import '../../../styles/global.scss';

#logout {
    display: none;
}

#loginForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
}
#restaurants{
    display: none;
}

#tours{
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin-top: 15px;
}